

body{
	font-family: 'Montaga', sans-serif;
}

.btn{
	color: red;
}
body{
	background: #f5efef;
	font-family: Consolas, sans-serif;
}
nav{
	background: #f5efef;
}

.jumbotron{
	background: #fff;
}

.card{
	border: none;
}

.c1{
	background: salmon;
	
}

.c2{
	background: skyblue;
	
}
.c3{
	background: #f9d56e;
	
}